<div class="well">
  <%if signed_in? %>
    <div class="row">
      <div class="col-md-3">
        <%= link_to "Nuevo proyecto", new_project_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="row">
        <%if @projects.any?%>
          <div class="text-center" id="paginator">
            <!--TODO llamada por ajax-->
            <%= paginate @projects, :theme => 'twitter-bootstrap-3', :window => 1%>
          </div>

          <%= render partial: 'shared/project', collection: @projects %>
        <%end%>
    </div>
  <%else %>
    <h1>Bienvenido a Pinkunozo</h1>
    <div class="text-center">
      <%= link_to "Identificarse", signin_path, class: "btn btn-lg btn-primary" %>
    </div>
  <%end %>
</div>