<% provide(:title, 'Elementos de la síntesis dialógica para el proyecto' + @project.name) %>
<div>
  <%= render 'projects/header' %>
  <%= grid(@milestones_grid, upper_pagination_panel: true, show_filters: :when_filtered) do |g|
      g.column name: 'Nombre', attribute: 'name'

      g.column name: 'Tipo de elemento', attribute: 'type_of_milestone'

      g.column name: 'Responsable' do |milestone|
        milestone.user.name
      end

      g.column name: 'Edad' do |milestone|
        distance_of_time_in_words_to_now(milestone.topic.act.date)
      end

      g.column name: 'Estado', attribute: 'status'

      g.column do |act|
        link_to('Ver', )
      end
    end -%>
</div>