<% provide(:title, 'Todos los usuarios') %>
<h1>Todos los usuarios</h1>

<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
<ul class="users">
  <%= render @users %>
</ul>
<%= will_paginate @users, renderer: BootstrapPagination::Rails %>