// Place all the styles related to the Acts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.checkbox-input {
  width: 13px;
}

.rounded-corners-border{
  border: 2px lightgray solid;
  border-radius: 10px;
  padding: 5px;
  margin-left: 1px !important;
}

.delete-button{
  padding-top: 30px;
}

.new-act-button{
  margin: 10px !important;
}