<div id="footer">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Nosotros",   about_path %></li>
        <li><%= link_to "Contactanos", '#'%></li>
        <li><a href="http://www.chileagil.cl/">ChileÁgil</a></li>
      </ul>
    </nav>
  </div>
</div>