<% provide(:title, 'Acta del proyecto ' + @project.name) %>
<div>
  <%= render 'projects/header' %>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <%= paginate @acts%>
    </div>
  </div>
  <h2>Acta del <%= l @act.date , format: :long %></h2>
  <%= render 'act_form'%>
</div>